<div class="product-category">
   <div class="my-container">
      <h3 class="categoryTitle text-primary">{{ categoryName }}</h3>
      <div class="category-wrap">
         <div class="category-left">
            <div class="category-block">
               <CategoryItem v-for="sub in subCategory.data" :key="sub.iId" :info="sub" :categoryId="categoryId" @changeCategory="changeCategory"></CategoryItem>
            </div>
         </div>
         <div class="product-right">
            <div class="category-panel">
               <div class="count-block">
                  共<span class="text-primary">{{ totalProduct | currency }}</span>項商品
               </div>
               <div class="search-block">
                  <input type="text" class="form-control" placeholder="關鍵字搜尋" v-model.trim="keyword">
                  <button class="btn-primary" @click="searchHandler">
                     <i class="fal fa-search"></i>
                  </button>
               </div>
            </div>
            <div class="product-block">
               <div class="product-row">
                  <MultipleSpecItem v-for="product in productList.data" :key="product.iId":productInfo="product"></MultipleSpecItem>
               </div>
            </div>
            <div class="btnBox center">
               <button class="btn-primary seeMore" @click="seeMore" v-show="hasNextPage">{{ buttonText }}</button>
            </div>
         </div>
      </div>
   </div>
   <Loading v-show="isLoading"></Loading>
</div>