<div class="product_detail">
   <h3 class="page-name">{{ productIntro.category }}</h3>
   <div class="product-top">
      <div class="slideBox">
         <ImageGallery v-if="showGallery" :bannerList="bannerList.data"></ImageGallery>
      </div>
      <div class="descBox">
         <p class="productNum">{{ productIntro.num }}</p>
         <p class="productName text-input">{{ productIntro.name }}</p>
         <p class="productSummary text-input">{{ productIntro.summary }}</p>
         <ul class="spec-block">
            <SpecItem v-for="spec in specList.data" :key="spec.iId" :spec="spec" :currentSpecId="pickedSpec.specId" @change-spec="changeSpec"></SpecItem>
         </ul>
         <div class="edit-block">
            <template v-if="!isFirstLoading">
               <div class="edit-row">
                  <span>溫層:</span>
                  <span>{{ productIntro.temperature }}</span>
               </div>
               <div class="edit-row">
                  <span>數量:</span>
                  <select class="form-control" v-model.number="pickedSpec.buyCount" :disabled="!pickedSpecHasStock">
                     <option value="0" v-show="!pickedSpecHasStock">0</option>
                     <option v-for="num in pickedSpec.stockTotal" :key="num" :value="num">{{ num }}</option>
                  </select>
               </div>
               <div class="edit-row">
                  <span>價格:</span>
                  <span class="price text-primary">${{ pickedSpec.price | currency }}</span>
               </div>
            </template>
            <div class="edit-row btnBox no-mt" v-show="pickedSpecHasStock">
               <button class="cart" @click="addCart(false)">加入購物車</button>
               <button class="immediate" @click="addCart(true)">直接購買</button>
            </div>
         </div>
      </div>
   </div>
   <div class="product-middle" v-html="productIntro.editContent"></div>
   <Loading v-show="isLoading"></Loading>
   <modal-message ref="cartModal" @confirm="confirmHandler">
      <p>{{ addInfo.message }}</p>
   </modal-message>
</div>