<div class="product_detail">
   <h3 class="categoryName text-primary">{{ productIntro.category }}</h3>
   <div class="product-top">
      <div class="slideBox">
         <ImageGallery v-if="showGallery" :bannerList="bannerList.data"></ImageGallery>
      </div>
      <div class="descBox">
         <p class="productNum">{{ productIntro.num }}</p>
         <p class="productName text-input">{{ productIntro.name }}</p>
         <p class="productSummary text-input">{{ productIntro.summary }}</p>
         <ul class="specList">
            <li class="spec-item">巴西咖啡</li>
         </ul>
         <div class="edit-block">
            <div class="edit-row">
               <span>溫層:</span>
               <span>{{ productIntro.temperature }}</span>
            </div>
            <div class="edit-row">
               <span>數量:</span>
               <select class="form-control">
                  <option value="1">1</option>
               </select>
            </div>
            <div class="edit-row">
               <span>價格:</span>
               <span class="price text-primary">${{ 1000 | currency }}</span>
            </div>
            <div class="edit-row btnBox no-mt">
               <button class="cart">加入購物車</button>
               <button class="immediate">直接購買</button>
            </div>
         </div>
      </div>
   </div>
   <div class="product-middle" v-html="productIntro.editContent"></div>
   <Loading v-show="isLoading"></Loading>
</div>