#banner-swiper {
   height: 550px;
   .swiper-slide {
      height: 550px;
      >img {
         @include size(100%);
         object-fit: cover;
      }
   }
}

.section-block {
   >.my-container {
      padding-top: 50px;
      padding-bottom: 50px;
   }
   &.popular {
      background-color: map-get($elBgColor, input);
   }
}

.blobk-title {
   margin-bottom: 30px;
   text-align: center;
   font-weight: normal;
   font-size: 30px;
}

.popular-row {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.product-row {
   display: flex;
   flex-wrap: wrap;
}

.product-item {
   flex: 0 0 25%;
   padding: 0 10px;
   margin-bottom: 30px;
   >.imgBox {
      position: relative;
      padding-top: 62.5%;
      margin-bottom: 5px;
      >img {
         position: absolute;
         left: 0;
         top: 0;
         @include size(100%);
         object-fit: cover;
      }
   }
   >.descBox {
      >* {
         @include elGutter(margin-bottom, 8px);
      }
      >.name {
         @include setWebkitLimitRow(1);
      }
      >.intro {
         @include setWebkitLimitRow(2);
      }
      >.price {
         display: flex;
         justify-content: space-between;
         font-size: 15px;
         >.text-input {
            text-decoration-line: line-through;
         }
      }
   }
}