<div class="order-history-block">
   <div class="criteria-panel">
      <input type="text" class="form-control" ref="dateInput">
      <input type="text" class="form-control" v-model="orderNumber" placeholder="請輸入定單編號">
      <select class="form-control" v-model="orderStatus.id">
         <option value="-1">訂單狀態</option>
         <option v-for="(value, key) in orderStatus.list" :key="key" :value="key">{{ value }}</option>
      </select>
      <button class="btn-primary" @click="submitHandler">送出</button>
   </div>
   <HistoryAccordion v-show="hasHistory" :accordionList="accordionInfo.list" ref="accordionBlock"></HistoryAccordion>
   <EmptyBlock v-show="!hasHistory" text="查無訂單紀錄"></EmptyBlock>
   <div class="btnBox center" v-show="hasNextPage">
      <button class="btn-primary" style="--width:120px;" @click="seeMore">{{ seeMoreButtonText }}</button>
   </div>
</div>