<div class="quota-block">
   <div class="criteriaBox" v-if="criteria.status === 1">
      <p>
         活動條件 : 紅標商品<span class="mark red">{{ criteria.iRedAmount| currency }}</span>搭配綠標商品<span class="mark green">{{ criteria.iGreenAmount | currency }}</span>
            , 紅標已選購<span class="mark red">{{ redItemCount | currency }}</span>件 + 綠標已選購<span class="mark green">{{ greenItemCount | currency}}</span>件
      </p>
      <p class="subTotal">
         目前總計: <span class="text-primary">${{ pickedTotalDollar | currency }}</span>
      </p>
   </div>
   <div class="picked-outer">
      <table class="picked-table">
         <thead>
            <tr>
               <th>商品名稱</th>
               <th>數量</th>
               <th>單價</th>
               <th>總價</th>
               <th>刪除</th>
            </tr>
         </thead>
         <tbody>
            <tr 
               is="RedGreenRow" 
               v-for="pick in pickedList.data" 
               :key="pick.iId" 
               :pickInfo="pick"
               :mappingLabel="mappingLabel"
               @changeSpecCount="changeSpecCount" 
               @remove="removePickedItem"></tr>
         </tbody>
      </table>
      <div class="picked-summary">
         <p>目前總計: <span class="text-primary">${{ pickedTotalDollar | currency }}</span></p>
         <button 
            class="btn-hover-activity" 
            :class="{disabled:!isAchieved}"
            @click="addCart(isAchieved, 'red_with_green')"
         >加入購物車</button>
      </div>
   </div>
   <div class="mark-block">
      <MarkItem v-for="(value, key) in markList" :key="key" :markInfo="value" :markKey="key" :markType.sync="markType"></MarkItem>
   </div>
   <div class="activity-product-outer" v-show="hasProduct">
      <redGreenItem 
         v-for="product in filterProductList" 
         :key="product.iId" 
         :productInfo="product"
         :mappingLabel="mappingLabel" 
         @picked="pickedHandler"
      ></redGreenItem>
   </div>
   <Loading v-show="isLoading"></Loading>
   <modal-message ref="cartModal" :showCancel="true" :showConfirm="false" cancelText="確定">
      <p>{{ cartMessage }}</p>
   </modal-message>
</div>