.cart-outer {
   max-width: 80%;
   margin: 0 auto;
}

.temperature-list {
   display: flex;
   justify-content: flex-start;
   margin-bottom: 20px;
}

.picked-cart-outer {
   margin: 50px 0;
   border: 1px solid map-get($borderColor, outer);
   >.picked-cart-summary {
      @extend %bwtFlex;
      padding: 15px 20px;
      .text-primary {
         margin: 0 3px;
      }
   }
}

.picked-cart-table {
   width: 100%;
   thead {
      background-color: #8C8276;
      th {
         padding: 10px 20px;
         color: #fff;
         font-size: 18px;
         font-weight: normal;
         white-space: nowrap;
         &:first-child {
            text-align: left;
         }
         input {
            margin-right: 5px;
            transform: translateY(2.8px);
         }
      }
   }
   tbody {
      tr {
         border-bottom: 1px solid map-get($borderColor, outer);
         td {
            padding: 15px 20px;
            &:not(:first-child) {
               text-align: center;
            }
            >.productInfo {
               display: flex;
               align-items: flex-start;
               >.imgBox {
                  @include size(120px, 90px);
                  >img {
                     display: block;
                     @include size(100%);
                  }
               }
               >.descBox{
                  padding-top: 5px;
                  padding-left: 10px;
                  text-align: left;
                  >* {
                     @include elGutter(margin-bottom, 10px);
                  }
                  >.title {
                     display: block;
                     font-weight: bold;
                  }
                  >.combo-list {
                     padding-left: 8px;
                     border-left: 3px solid #8C8276;
                     >.combo-item {
                        display: flex;
                        >.text-input {
                           margin: 0 3px;
                        }
                        >.name {
                           word-break: break-all;
                        }
                     }
                  }
               }
            }
            >.form-control {
               width: 100px;
               margin: 0 auto;
               text-align: center;
            }
            >.fa-trash-alt {
               font-size: 18px;
               cursor: pointer;
            }
         }
      }
   }
}

.fill-outer {
   padding: 0 20px;
}

.fill-block {
   @include elGutter(margin-bottom, 50px);
   >h3 {
      margin-bottom: 25px;
      font-weight: normal;
      font-size: 25px;
   }
   .fill-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: -10px;
      margin-right: -10px;
      @include elGutter(margin-bottom, 30px);
      &.align-top {
         align-items: flex-start;
      }
      >* {
         padding: 0 10px;
      }
      >.title {
         flex: 0 0 15%;
         &.required {
            &:after {
               content: '*';
               margin-left: 3px;
               color: red;
            }
         }
      }
      >.content {
         flex: 0 0 35%;
         &.remained {
            flex: 1;
         }
         &.address {
            flex: 0 0 17.5%;
         }
         &.same {
            cursor: pointer;
         }
         >.hook-checkbox {
            margin-right: 5px;
            transform: translateY(4px);
         }
      }
   }
}

.summary-outer {
   margin: 50px 0;
   >h3 {
      margin-bottom: 25px;
      font-weight: normal;
      font-size: 25px;
   }
   .summary-row {
      display: flex;
      align-items: center;
      @include elGutter(margin-bottom, 20px);
      >div {
         flex: 1;
         text-align: right;
      }
      .point-input {
         display: inline-block;
         width: 150px;
         text-align: right;
         &::-webkit-inner-spin-button,
         &::-webkit-outer-spin-button{
            -webkit-appearance: none;
            margin: 0;
            -moz-appearance: textfield;
         }
      }
      .error-text {
         color: red;
      }
   }
}

.no-cart {
   @extend %centerFlex;
   font-size: 23px;
   >.fa-exclamation-circle {
      color: red;
   }
   >span {
      margin-left: 5px;
   }
}

.btnBox {
   margin-top: 80px;
   >button.disabled {
      opacity: 0.5;
      cursor: not-allowed;
   }
}