%button {
   @include size(auto);
   line-height: initial;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}

//一般button
@mixin normalBtn($color, $bgColor, $bdColor) {
   @extend %button;
   color: $color;
   background-color: $bgColor;
   @if $bdColor == none {
      border: none;
   } @else {
      border: 1px solid $bdColor;
   }
}