<div class="cart-step1-blockc cart-outer">
   <template v-if="hasCart">
      <div class="temperature-list">
         <TemperatureItem v-for="item in temperatureTab" :key="item.iId" :info="item" :temperatureType="temperatureType" @setTab="setTab"></TemperatureItem>
      </div>

      <div class="picked-cart-outer">
         <table class="picked-cart-table">
            <thead>
               <tr>
                  <th width="100">
                     <input type="checkbox" class="hook-checkbox cart" v-model="isAllChecked" @change="changeAllChecked">全選
                  </th>
                  <th>商品品項</th>
                  <th>數量</th>
                  <th>單價</th>
                  <th>總價</th>
                  <th>刪除</th>
               </tr>
            </thead>
            <tbody>
               <tr 
                  v-for="item in filterCartList" 
                  :key="item.uid" 
                  :is="item.componentName"
                  :info="item"
                  @changeCount="changeCount"
                  @singleCheck="singleCheck"
                  @remove="removeCartItem"
               ></tr>
            </tbody>
         </table>
         <div class="picked-cart-summary">
            <p>共<span class="text-primary">{{ filterCartCount | currency }}</span>項商品</p>
            <p>商品小計</p>
            <p>${{ filterCartSubTotal | currency }}</p>
         </div>
      </div>

      <div class="fill-outer">
         <div class="fill-block">
            <h3 class="text-primary">配送方式</h3>
            <div class="fill-body">
               <div class="fill-row">
                  <p class="title required">配送取貨</p>
                  <div class="content">
                     <select class="form-control" v-model="orderConfig.ship.id">
                        <option v-for="ship in shipList" :value="ship.iId">{{ ship.vTitle }}</option>
                     </select>
                  </div>
                  <p class="title required">付款方式</p>
                  <div class="content">
                     <select class="form-control" v-model="orderConfig.pay.id">
                        <option v-for="item in orderConfig.pay.list" :value="item.value">{{ item.text }}</option>
                     </select>
                  </div>
               </div>
               <div class="fill-row">
                  <p class="title required">發票選項</p>
                  <div class="content">
                     <select class="form-control" v-model="orderConfig.invoice.id">
                        <option v-for="item in orderConfig.invoice.list" :value="item.value">{{ item.text }}</option>
                     </select>
                  </div>
                  <div class="content remained" v-show="showCompanyTitle">
                     <input type="text" class="form-control" placeholder="公司抬頭" v-model="orderConfig.invoice.companyTitle">
                  </div>
                  <div class="content remained">
                     <input type="text" class="form-control" :placeholder="invoicePlaceholder" v-model="orderConfig.invoice.value">
                  </div>
               </div>
            </div>
         </div>
         <div class="fill-block">
            <h3 class="text-primary">訂購人資訊</h3>
            <div class="fill-body">
               <div class="fill-row">
                  <p class="title required">姓名</p>
                  <div class="content">
                     <input type="text" class="form-control" v-model="orderer.vName" placeholder="請填寫姓名">
                  </div>
                  <p class="title required">性別</p>
                  <div class="content">
                     <select class="form-control" v-model="orderer.vGender">
                        <option value="" disabled>請選擇性別</option>
                        <option v-for="gender in genderList" :key="gender.id" :value="gender.id">{{ gender.title }}</option>
                     </select>
                  </div>
               </div>
               <div class="fill-row">
                  <p class="title required">手機號碼</p>
                  <div class="content">
                     <input type="number" class="form-control" v-model="orderer.vContact" placeholder="請填寫手機號碼">
                  </div>
                  <p class="title required">電子信箱</p>
                  <div class="content">
                     <input type="email" class="form-control" v-model="orderer.vEmail" placeholder="請填寫電子信箱">
                  </div>
               </div>
               <AddressField fieldName="訂購人地址" :city.sync="orderer.vCity" :district.sync="orderer.vArea" :zipcode.sync="orderer.vZipCode" :address.sync="orderer.vAddress"></AddressField>
            </div>
         </div>
         <div class="fill-block">
            <h3 class="text-primary">收件人資訊</h3>
            <div class="fill-body">
               <div class="fill-row">
                  <p class="title"></p>
                  <label class="content same">
                     <input type="checkbox" class="hook-checkbox cart" v-model="syncOrderer" @change="syncHandler">
                     <span>同訂購人</span>
                  </label>
               </div>
               <div class="fill-row">
                  <p class="title required">姓名</p>
                  <div class="content">
                     <input type="text" class="form-control" placeholder="請填寫姓名" v-model="recipient.vName" :disabled="syncOrderer">
                  </div>
                  <p class="title required">性別</p>
                  <div class="content">
                     <select class="form-control" v-model="recipient.vGender" :disabled="syncOrderer">
                        <option value="" disabled>請選擇性別</option>
                        <option v-for="gender in genderList" :key="gender.id" :value="gender.id">{{ gender.title }}</option>
                     </select>
                  </div>
               </div>
               <div class="fill-row">
                  <p class="title required">手機號碼</p>
                  <div class="content">
                     <input type="number" class="form-control" placeholder="請填寫手機號碼" v-model="recipient.vContact" :disabled="syncOrderer">
                  </div>
                  <p class="title required">電子信箱</p>
                  <div class="content">
                     <input type="email" class="form-control" placeholder="請填寫電子信箱" v-model="recipient.vEmail" :disabled="syncOrderer">
                  </div>
               </div>
               <AddressField fieldName="收件人地址" :city.sync="recipient.vCity" :district.sync="recipient.vArea" :zipcode.sync="recipient.vZipCode" :address.sync="recipient.vAddress" :disabled="syncOrderer"></AddressField>
               <div class="fill-row align-top">
                  <p class="title required">備註</p>
                  <div class="content remained">
                     <textarea class="form-control" placeholder="請填寫備註" v-model="recipient.vRemarks"></textarea>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="summary-outer">
         <h3 class="text-primary">金額統計</h3>
         <div class="summary-body">
            <div class="summary-row">
               <div>商品金額</div>
               <div>${{ filterCartSubTotal | currency }}</div>
            </div>
            <div class="summary-row">
               <div>運費</div>
               <div>
                  ${{ shipFee | currency }}
                  <span class="text-primary">(滿${{ freeShipmentAmount | currency }}免運)</span></div>
            </div>
            <div class="summary-row">
               <div>會員點數</div>
               <div>${{ userPoint.total | currency }}點</div>
            </div>
            <div class="summary-row">
               <div>點數折抵</div>
               <div>
                  <input
                     type="number"
                     class="form-control point-input" 
                     v-model.number="userPoint.used"
                     @keydown="checkPointKeydown"
                     @blur="checkInsertedPoint"
                     ref="pointInput">
                  <p class="error-text" v-show="insertedPointIsError">點數輸入有誤</p>
               </div>
            </div>
            <div class="summary-row">
               <div>結帳金額</div>
               <div>${{ settleDollar | currency }}</div>
            </div>
         </div>
      </div>

      <div class="btnBox center">
         <button class="btn-primary" :class="{disabled:!canSubmit}" style="--width:150px;" @click="submitHandler">下一步</button>
      </div>
   </template>
   <template v-else>
      <div class="no-cart">
         <i class="fal fa-exclamation-circle"></i>
         <span>目前購物車無商品</span>
      </div>
   </template>
   <modal-message ref="cartModal" :showCancel="true" :showConfirm="false" cancelText="確認">
      <p>{{ createdResult.message }}</p>
   </modal-message>
   <modal-message ref="checkModal" @confirm="checkBuildHandler">
      <p>{{ checkedBuildResult.message }}</p>
   </modal-message>
   <Loading v-show="isLoading"></Loading>
</div>