.criteriaBox {
   .text-primary {
      margin: 0 3px;
   }
   .reached {
      color: red;
   }
   .subTotal {
      margin-top: 10px;
      >.origin {
         margin: 0 5px;
         &.achieve {
            text-decoration: line-through;
         }
      }
   }
   .mark {
      margin: 0 3px;
      &.red {
         color: red;
      }
      &.green {
         color: green;
      }
   }
}

.picked-outer {
   margin: 25px 0;
   border: 1px solid map-get($borderColor, outer);
   >.picked-summary {
      @extend %bwtFlex;
      padding: 15px 20px;
      >.btn-hover-activity {
         min-width: 110px;
         height: 40px;
         font-size: 16px;
      }
   }
}

.picked-table {
   width: 100%;
   thead {
      background-color: #8C8276;
      th {
         padding: 10px 5px;
         color: #fff;
         font-size: 18px;
         font-weight: normal;
      }
   }
   tbody {
      tr {
         border-bottom: 1px solid map-get($borderColor, outer);
      }
      td {
         padding: 15px 20px;
         vertical-align: middle;
         text-align: center;
         .profile {
            display: flex;
            align-items: flex-start;
            >.imgBox {
               position: relative;
               @include size(130px, 97.5px);
               >img {
                  display: block;
                  @include size(100%);
                  object-fit: cover;
               }
               >.label {
                  position: absolute;
                  right: 5px;
                  top: 5px;
                  @include size(30px);
                  line-height: 30px;
                  text-align: center;
                  border-radius: 50%;
                  color: #fff;
               }
            }
            >.descBox {
               padding-top: 5px;
               padding-left: 10px;
               text-align: left;
               >.name {
                  margin-bottom: 5px;
                  font-size: 20px;
                  font-weight: bold;
               }
            }
         }
         .form-control {
            display: inline-block;
            width: 120px;
         }
         .fa-trash-alt {
            font-size: 18px;
            cursor: pointer;
         }
      }
   }
}

.activity-product-outer {
   display: flex;
   flex-wrap: wrap;
   padding: 20px 10px;
   border: 1px solid map-get($borderColor, outer);
}