.form-control {
   display: block;
   width: 100%;
   background-color: map-get($elBgColor, input);
   border-radius: map-get($radius, basic);
   border: 1px solid map-get($borderColor, input);
   font-size: 15px;
   &::placeholder {
      color: #989085;
      font-size: 16px;
   }
   &:focus {
      background-color: #fff;
      outline: none;
   }
}

input.form-control,
select.form-control {
   height: 38px;
   padding: 5px 12px;
}

textarea.form-control {
   height: 250px;
   padding: 15px;
   resize: none;
}

//===checkbox or radio
.hook-checkbox {
   @extend %resetForm;
   position: relative;
   @include size(20px);
   background-color: #fff;
   border: 1px solid map-get($borderColor, primary);
   border-radius: map-get($radius, basic);
   &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      @include size(7px, 14px);
      transform: translate(-50%, -62%) rotate(40deg);
      border: 1px solid transparent;
      cursor: pointer;
   }
   &:checked {
      &:after {
         border-bottom-color: map-get($borderColor, primary);
         border-right-color: map-get($borderColor, primary);
      }
   }
}