.form-row {
   display: flex;
   align-items: center;
   @include elGutter(margin-bottom, 20px);
   >.form-title {
      flex: 0 0 70px;
      font-size: 18px;
      color: map-get($fontColor, formTitle);
   }
   >.form-content {
      flex: 1;
   }
}