.form-row {
   display: flex;
   align-items: flex-start;
   @include elGutter(margin-bottom, 20px);
   >.form-title {
      flex: 0 0 70px;
      padding-top: 7px;
      font-size: 18px;
      color: map-get($fontColor, formTitle);
      >.require-mark {
         margin-right: 3px;
         font-weight: bold;
         font-size: 18px;
      }
   }
   >.form-content {
      flex: 1;
      >.error-text {
         margin-top: 3px;
         color: red;
         text-align: right;
         &.text-align-left {
            text-align: left;
         }
      }
   }
}