body {
   background-color: #fff;
}

//===置中區塊
.my-container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 15px 15px;
   @media (max-width: 768px) {
      max-width: 100%;
   }
}

//===btnBox
.btnBox {
   margin-top: 40px;
   &.no-mt {
      margin-top: 0;
   }
   &.center {
      >* {
         margin: 0 auto;
      }
   }
   >button, a {
      display: block;
      @include size(100%, 38px);
      margin: 0 auto;
      text-align: center;
      font-size: 15px;
   }
   >a[class^=btn-hover] {
      line-height: 36px;
   }
}

.outline-block {
   width: 760px;
   min-height: 300px;
   margin: 0 auto;
   padding: 30px 70px;
   border: 1px solid map-get($borderColor, outer);
}