$basic-radius: map-get($radius, basic);
$duration: 0.4s;

.modal {
   position: fixed;
   left: 0; 
   top: 0;
   @include size(100%, 100vh);
   @extend %centerFlex;
   padding: 15px;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 1000;
   opacity: 0;
   visibility: hidden;
   transition: opacity $duration, visibility $duration;
   &.open {
      visibility: visible;
      opacity: 1;
      >.modal-dialog {
         opacity: 1;
         transform: translateY(0px);
         transition-delay: 0.1s;
      }
   }
   >.modal-dialog {
      width: 100%;
      max-width: 500px;
      background-color: #fff;
      border-radius: $basic-radius;
      opacity: 0;
      transform: translateY(-50px);
      transition: opacity $duration, transform $duration;
      >div {
         padding-left: 15px;
         padding-right: 15px;
      }
      >.modal-header {
         position: relative;
         padding-top: 12px;
         padding-bottom: 12px;
         background-color: #efefef;
         border-radius: $basic-radius $basic-radius 0 0;
         >.title {
            text-align: center;
            font-size: 22px;
            font-weight: bold;
         }
         >.cross {
            position: absolute;
            right: 12px;
            top: 12px;
            font-size: 28px;
            color: gray;
            cursor: pointer;
         }
      }
      >.modal-content {
         max-height: 500px;
         padding-top: 35px;
         padding-bottom: 35px;
         text-align: center;
         font-size: 20px;
         overflow: auto;
      }
      >.modal-footer {
         @extend %centerFlex;
         padding-top: 15px;
         padding-bottom: 15px;
         >button {
            @include size(120px, 40px);
            @include elGutter(margin-right, 12px);
            font-size: 16px;
         }
      }
   }
}

.modal.product {
   >.modal-dialog {
      max-width: 650px;
      >.modal-header {
         padding-right: 40px;
         >.title {
            font-size: 20px;
            text-align: left;
            color: map-get($fontColor, input);
            font-weight: normal;
         }
      }
      >.modal-content {
         display: flex;
         align-items: flex-start;
         padding-top: 30px;
         padding-bottom: 30px;
         text-align: left;
         >.imgBox {
            flex: 0 0 200px;
            height: 150px;
            >img {
               display: block;
               @include size(100%);
               object-fit: cover;
            }
         }
         >.descBox {
            flex: 1;
            padding-left: 15px;
            >* {
               @include elGutter(margin-bottom, 8px);
            }
            >.text-input {
               font-size: 16px;
            }
         }
      }
   }
}