$textList: (
   ( 
      class: text-primary, 
      color: map-get($fontColor, primary),
   ),
   ( 
      class: text-form, 
      color: map-get($fontColor, formTitle),
   ),
);

@each $obj in $textList {
   $textClass: map-get($obj, class);
   .#{$textClass} {
      color: map-get($obj, color);
   }
}