header {
   position: sticky;
   position: -webkit-sticky;
   top: 0px;
   z-index: 999;
}

.header-top {
   background-color: #000;
}

.header-top {
   >.my-container {
      display: flex;
      justify-content: flex-end;
      padding-top: 0px;
      padding-bottom: 0px;
      >a {
         position: relative;
         padding: 10px 25px;
         color: #fff;
         font-size: 15px;
         &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            @include size(1px, 18px);
            transform: translateY(-50%);
            background-color: map-get($elBgColor, primary);
         }
         &:last-child {
            padding-right: 0;
            &:after {
               width: 0;
            }
         }
         >.fa-chevron-down {
            font-size: 13px;
         }
      }
   }
}

.dropdown-block {
   position: relative;
}

.header-dropdown-menu {
   display: none;
   position: absolute;
   left: 0;
   top: calc(100%);
   width: 100%;
   padding: 8px 5px;
   background-color: #f6f6f6;
   &.mouseenter {
      display: block;
   }
   >a {
      display: block;
      @include elGutter(padding-bottom, 10px);
      color: #000;
      text-align: center;
      &:last-child {
         border: none;
      }
      &:hover {
         color: map-get($fontColor, primary) !important;
      }
   }
}

.header-bottom {
   >.my-container {
      @extend %bwtFlex;
      >.logo-box {
         >img {
            @include size(170px, 73px);
            object-fit: contain;
         }
      }
      >.search-block {
         >.input-box {
            position: relative;
            >.my-input {
               @include size(330px, 38px);
               padding-right: 35px;
            }
            >i {
               position: absolute;
               right: 10px;
               top: 10px;
               font-size: 18px;
               cursor: pointer;
            }
         }
      }
      >.feature-block {
         display: flex;
         align-items: center;
         >.feature-item {
            position: relative;
            @include elGutter(margin-right, 28px);
            text-align: center;
            >i {
               font-size: 30px;
            }
            >p {
               margin-top: 5px;
            }
            >.cart-count {
               position: absolute;
               right: -2px;
               top: -10px;
               @include size(23px);
               padding: 1px;
               line-height: 22px;
               border-radius: 50%;
               color: #fff;
               background-color: map-get($elBgColor, primary);
               font-size: 14px;
            }
         }
      }
   }
}