<div class="register-step1">
   <div class="outline-block">
      <validation-observer tag="div" class="form-layout" ref="form">
         <div class="form-row">
            <div class="form-title">
               <span class="require-mark text-primary">*</span>手機號碼
            </div>
            <validation-provider tag="div" class="form-content" rules="required|phone" v-slot="{ errors,failed }">
               <input type="number" class="form-control" placeholder="為您的帳號，共10碼" v-model.trim="user.mobile">
               <p class="error-text" v-show="failed">{{ errors[0] }}</p>
            </validation-provider>
         </div>
         <div class="form-row">
            <div class="form-title">
               <span class="require-mark text-primary">*</span>密碼
            </div>
            <validation-provider tag="div" class="form-content" rules="required|password" vid="a" v-slot="{ errors,failed }">
               <input type="password" class="form-control" placeholder="6-12碼英數字" v-model.trim="user.password">
               <p class="error-text" v-show="failed">{{ errors[0] }}</p>
            </validation-provider>
         </div>
         <div class="form-row">
            <div class="form-title">
               <span class="require-mark text-primary">*</span>確認密碼
            </div>
            <validation-provider tag="div" class="form-content" rules="required|confirmPw:@a" v-slot="{ errors,failed }">
               <input type="password" class="form-control" placeholder="6-12碼英數字" v-model.trim="user.confirm_password">
               <p class="error-text" v-show="failed">{{ errors[0] }}</p>
            </validation-provider>
         </div>
         <div class="form-row">
            <div class="form-title">
               <span class="require-mark text-primary">*</span>姓名
            </div>
            <validation-provider tag="div" class="form-content" rules="required" v-slot="{ errors,failed }">
               <input type="password" class="form-control" placeholder="請輸入您的中文姓名" v-model.trim="user.name">
               <p class="error-text" v-show="failed">{{ errors[0] }}</p>
            </validation-provider >
         </div>
         <div class="form-row">
            <div class="form-title">
               <span class="require-mark text-primary">*</span>性別
            </div>
            <validation-provider tag="div" class="form-content" rules="required" v-slot="{ errors,failed }">
               <select class="form-control" v-model="user.gender">
                  <option value="" disabled>請選擇</option>
                  <option v-for="gender in genderList" :key="gender.id" :value="gender.id">
                     {{ gender.title }}
                  </option>
               </select>
               <p class="error-text" v-show="failed">{{ errors[0] }}</p>
            </validation-provider>
         </div>
         <div class="form-row">
            <div class="form-title">
               <span class="require-mark text-primary">*</span>忘記密碼安全問題
            </div>
            <validation-provider tag="div" class="form-content" rules="required" v-slot="{ errors, failed }">
               <select class="form-control" v-model="user.security_question">
                  <option value="" disabled>請選擇</option>
                  <option v-for="question in questionList" :key="question.id" :value="question.id">
                     {{ question.title }}
                  </option>
               </select>
               <p class="error-text" v-show="failed">{{ errors[0] }}</p>
            </validation-provider>
         </div>
         <div class="form-row">
            <div class="form-title">
               <span class="require-mark text-primary">*</span>安全問題答案
            </div>
            <validation-provider tag="div" class="form-content" rules="required" v-slot="{ errors, failed }">
               <input type="text" class="form-control" placeholder="請輸入答案" v-model.trim="user.security_answer">
               <p class="error-text" v-show="failed">{{ errors[0] }}</p>
            </validation-provider>
         </div>
         <div class="form-row checkbox-row">
            <validation-provider tag="div" class="form-title" rules="term" v-slot="{ errors, failed }">
               <input type="checkbox" class="test-checkbox" v-model="user.isAgree">
            </validation-provider>
            <div class="term-content term-content text-form">
               我同意<TermTrigger v-for="(obj, key, index) in termList.data" :key="key" :termId="obj.id" 
                  :termTitle="obj.title" :totalTerms="totalTerms" :order="index" @term-trigger="showTermContent"></TermTrigger>
               <!-- <p class="error-text" v-show="failed">請同意條款</p> -->
            </div>
         </div>
         <div class="form-row divide-line"></div>
         <div class="form-row">
            <div class="form-title">電子信箱</div>
            <validation-provider tag="div" class="form-content" rules="email" v-slot="{ errors, failed }">
               <input type="email" class="form-control" placeholder="Email" v-model.trim="user.email">
               <p class="error-text" v-show="failed">{{ errors[0] }}</p>
            </validation-provider>
         </div>
         <div class="form-row">
            <div class="form-title">出生日期</div>
            <validation-provider tag="div" class="form-content" rules="birthday" v-slot="{ errors, failed }">
               <input type="date" class="form-control" v-model="user.birthday">
               <p class="error-text" v-show="failed">{{ errors[0] }}</p>
            </validation-provider>
         </div>
         <div class="form-row">
            <div class="form-title">縣市</div>
            <div class="form-content">
               <select class="form-control" v-model="addressInfo.city">
                  <option value="" disabled>請選擇</option>
                  <option v-for="city in cityList" :key="city" :value="city">{{ city }}</option>
               </select>
            </div>
         </div>
         <div class="form-row">
            <div class="form-title">地區</div>
            <div class="form-content">
               <select class="form-control" v-model="addressInfo.district">
                  <option value="" disabled>請選擇</option>
                  <option v-for="district in districtList" :key="district.name" :value="district.name">
                     {{ district.name }}
                  </option>
               </select>
            </div>
         </div>
         <div class="form-row">
            <div class="form-title">地址</div>
            <div class="form-content">
               <input type="text" class="form-control" v-model.trim="user.address" placeholder="地址">
            </div>
         </div>
      </validation-observer>
      <div class="btnBox center">
         <button class="btn-primary" @click="submitHandler">下一步</button>
      </div>
   </div>
   <Loading v-show="isLoading"></Loading>
   <modal-message ref="checkModal" @confirm="confirmHandler">
      <p>{{ responseInfo.message }}</p>
   </modal-message>
</div>